<!-- 
Name: D'Arcey Taylor
Student ID: 200302660
Project: Midterm for COMP3025_W2017
Date: 02/21/2017
Front end for the Todo List - inlucdes slide functionality to send commands to the back end (home.ts)
-->

<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon name="cart" item-left ></ion-icon>
       Shopping List
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
      <ion-icon name="add-circle"></ion-icon>
      Add New Item
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item text-wrap>
    <!-- Labels -->
  <ion-label>
    Item
  </ion-label>
  <ion-label>
    Amount
  </ion-label>
</ion-item>
  <ion-list inset *ngFor="let item of shoppinglist | async; let i = index;">
  <ion-item-sliding (click)="switchComplete(item.$key, item.done)"> 

<!-- If item is completed, the item will appear greyed out with a line through it -->
      <ion-item text-wrap *ngIf="item.done === true">
        <ion-label>
          <s>{{i+1}}. {{item.name}}</s>
        </ion-label>
        <ion-label>
          <s>{{item.quantity}}</s>
        </ion-label>
        <ion-checkbox color="positive" checked="true" disabled="true"></ion-checkbox>
      </ion-item>

<!-- If item isn't completed, the item will appear normally -->
      <ion-item text-wrap *ngIf="item.done === false">
        <ion-label>
          {{i+1}}. {{item.name}}
        </ion-label>
        <ion-label>
          {{item.quantity}}
        </ion-label>
        <ion-checkbox color="positive" checked="false" (click)="switchComplete(item.$key, item.done)"></ion-checkbox>
      </ion-item>

<!-- Options for item slide -->
      
      <ion-item-options side="right">
        <!-- Edit Details -->
        <button ion-button large color="primary" (click)="updateItem(item.$key, item.name, item.quantity)">
          <ion-icon name="md-settings"><br>Edit</ion-icon>
        </button>
        <!-- Delete Item -->
        <button ion-button large color="danger" (click)="removeItem(item.$key)">
          <ion-icon name="trash"><br>Delete</ion-icon>
        </button>
      </ion-item-options>

      <ion-item-options side="left">
        <!-- Add or Subtract Quantites -->
        <button ion-button large color="danger" (click)="subtractQuantity(item.$key, item.quantity)">
          <ion-icon name="remove"></ion-icon>
        </button>
        <button ion-button large color="primary" (click)="addQuantity(item.$key, item.quantity)">
          <ion-icon name="add"></ion-icon>
        </button>
        
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>